
<!-- <p>main works!</p> -->
<div class="main w-screen">
    <div class="div p-4">
        <p>Profile info</p>
    </div>
    <div class="div p-2">
        {{userData.name}}
        {{userData.surname}}
    </div>
    <div class="div p-2">
        {{userData.email}}
    </div>
    <br>
    <h2 class="p-4">Category list</h2>
    <div class="category-container">
        <p class="text-sm" *ngFor="let cl of userData.category"> {{cl.name}}</p>
    </div>
    <br>
    <h2>Tags</h2>
    <div class="tag-container">
        <div class="tags">
          <span class="tag" *ngFor="let t of userData.tag">{{ t }}</span>
        </div>
      </div>
    <div class="activities-container">
        <h2>Activities</h2>
        <div *ngFor="let a of userData.activities" class="activity-card">
          <p class="activity-title">{{ a.title }}</p>
          <p class="activity-category">{{ a.category }}</p>
          <p class="activity-description">{{ a.description }}</p>
        </div>
      </div>
    <br>

    
 </div>
 