<!-- <p>main works!</p> -->
<div class="main w-screen ">
   <div
     class="cart w-full h-full"
     (swipe)="onSwipe($event)"
     [@swipeAnimation]="animationState"
   >
   <div class="div p-2">
      {{ activity.title }}
   </div>
   <div class="div text-sm">
      {{ activity.category }}
   </div>
   <div class="div m-4">
      <img [src]="activity.imageUrl" alt="not found" class="w-full h-full">
   </div>
   <div class="div text-base p-3">
      {{activity.description}}
   </div>
   <div class="div">
      <button 
      class="button" 
      (click)="onClick()">Activity location</button>
   </div>

   </div>
</div>
