<section class="auth-page flex items-center flex-col pt-32">
  <h1 class="varela-regular text-text text-6xl">Hobby Hive</h1>
  <img class="block my-16" src="img/logo.png" alt="" />
  <div class="auth-buttons text-center w-1/2 max-w-sm min-w-32">
    <button
      class="w-full login-btn block shadow-lg rounded-full biryani-regular p-3 px-6 my-3"
    >
      Login
    </button>
    <button
      (click)="registerNavigate()"
      class="w-full register-btn block shadow-lg rounded-full biryani-regular p-3 px-6 my-3"
    >
      Register
    </button>
  </div>
</section>
