@import "vars";

.register-form {
  min-height: 100vh;
  height: 100%;
  color: $background;
}
.add-btn {
  background-color: $secondary;
}
.skip-btn {
  background-color: $tertiary;
}

.register-form-group {
  background-color: white;
  input {
    border: $primary 3px solid;
    color: $text;
  }
  input:focus {
    color: $text;
    border-color: $text;
  }

  ::placeholder {
    color: $text;
    font-family: "Varela", sans-serif;
  }
  select {
    color: $text;

    border: solid 2px $primary;
  }
  select:focus {
    color: $text;
    border: solid 2px $primary;
  }
}
.register-form-slides {
  background-color: $text;
}
.register-form-submit {
  color: white;
  background-color: $text;
}
p {
  color: $text;
  font-family: "Varela", sans-serif;
}
.tag-button {
  color: $text;
  background-color: $primary;
}
.tag {
  color: $text;
}
.tag-input {
  color: $text;
}
