@if(categoryIterator < 14){

<div
  class="register-form register-form-slides flex flex-col items-center py-32 text-center"
>
  <h2 class="varela-regular text-4xl">{{ currentCategory }}</h2>
  <div class="imgs flex justify-center items-center flex-row m-16">
    <img
      src="img/form/{{ categoryIterator + 1 }}.1.png"
      class="w-1/2 p-6"
      alt=""
    />
    <img
      src="img/form/{{ categoryIterator + 1 }}.2.png"
      class="w-1/2 p-6"
      alt=""
    />
  </div>
  <div class="buttons flex flex-col justify-center items-center w-1/2">
    <button
      (click)="addCategory()"
      class="add-btn shadow-md w-full my-1 rounded-full"
    >
      <img src="img/icons/check.png" class="w-12 mx-auto" alt="" />
    </button>
    <button
      (click)="skipCategory()"
      class="skip-btn shadow-md w-full my-1 rounded-full"
    >
      <img src="img/icons/cancel.png" class="w-12 mx-auto" alt="" />
    </button>
  </div>
</div>
} @else {
<div class="register-form register-form-group p-16">
  <div class="register-form form">
    <form class="flex flex-col items-center">
      <div>
        <input
          type="text"
          class="w-full rounded-full p-1 px-3 my-1 shadow-md"
          placeholder="Name"
        />
        <input
          type="text"
          class="w-full rounded-full p-1 px-3 my-1 shadow-md"
          placeholder="Lastname"
        />
      </div>
      <div class="my-10">
        <input
          type="email"
          class="w-full rounded-full p-1 px-3 my-1 shadow-md"
          placeholder="Email"
        />
        <input
          type="password"
          class="w-full rounded-full p-1 px-3 my-1 shadow-md"
          placeholder="Password"
        />
      </div>
      <app-map [radius]="currentRadius"></app-map>
      <div class="flex justify-center items-center p-2">
        <p class="mx-3">Radius</p>
        <select [(ngModel)]="currentRadius" [ngModelOptions]="{standalone: true}" class="rounded-xl">
          <option *ngFor="let value of radiusses" [value]="value">
            {{ value }} m
          </option>
        </select>
      </div>
      <div class="tags w-86">
        <div class="taglist py-4 flex flex-wrap">
          @for(tag of userTags; track tag) {
          <p
            class="tag bg-gray-200 px-3 py-1 gap-2 rounded-full cursor-pointer hover:bg-gray-300"
            (click)="deleteTag(tag)"
          >
            {{ tag }} ×
          </p>
          }
        </div>
        <div class="flex w-full flex-col">
          <input
            class="tag-input w-96 mx-auto rounded-full p-1 px-3 my-1 shadow-md"
            type="text"
            [(ngModel)]="newTag"
            [ngModelOptions]="{ standalone: true }"
            name="newTag"
            placeholder="Tag"
          />
          <button
            (click)="addTag()"
            class="tag-button rounded-full w-96 mx-auto shadow text-xl p-1 my-1"
          >
            +
          </button>
        </div>
      </div>
      <button
        type="submit"
        class="register-form-submit p-3 px-36 my-14 rounded-full text-xl"
      >
        Create Account
      </button>
    </form>
  </div>
</div>
}
